

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
	width:auto;
}
.head
{
    background-color: #0F124D;
}
.navsec .h1
{
    color:white;
    font-size: 40px;
   margin-left: 25px;
   margin-top: 0px;
    
}
.navsec
{
    padding: 20px;
    display:flex;
    justify-content: space-between;
}
.nav li{
    color: white;
}
.nav ul li{
    list-style-type: none;
    margin-right: 20px;
}
.nav ul
{
    display: flex;
}
.sayhi
{
    color:rgba(253, 194, 33, 1);
    margin-right: 30px;

}
.headcontent
{
    display: grid;
    grid-template-columns: 55% 45%;
    width:85%;
    margin-top: 20px;
   
    
}
.hchild1
{
    
    padding-left:20px;
    margin-left: 25px;
}

.img1
{
    margin-left: 40px;
}
span{
    color:rgba(253, 194, 33, 1);

}

.hpara1 h1{
    color: white;
    font-size: 40px;
}
.hpara1 p
{
    color: white;
    font-size: 18px;
    margin-top: 20px;
    margin-right: 20px;
    
}
.list1 li{
    list-style-type: none;
    color: white;
    
} 
.list1 ul li:before{
    content: '✓';
    color:rgba(253, 194, 33, 1);
    font-weight: bolder;
}
.list1 ul
{
    margin-top: 20px;
    display: flex;
    
}
.list1
{
   line-height: 30px;
}
#btn
{
    border-radius: 80px;
    background-color:rgba(253, 194, 33, 1);
    width: 200px;
    height: 50px;
    
    margin-top: 70px;
    color: white;
    font-size: 20px;
}
.body1
{
    background-image: url(images/background.svg);
    background-size: contain;
    
    
    background-repeat: no-repeat;
}
.container1
{
    display: grid;
    grid-template-columns: 50% 50%;

    width:100%;
    
}
.container1 .left1
{
   
    margin-top: 10px;
    
}
.container1 .left1 img
{
  margin-left: 40px;
}
.container1 .right1
{
   
    margin-top: 20px;
    margin-right: 40px;
}
.body1 .content1
{
    margin-top: 30px;
    line-height: 20px;
}
.body1 .right1
{
	margin-left:60px;
}

.body1 .content1 h1
{
    font-size: 23px;
}
.body1 .content1 p
{
    color:rgba(151, 151, 151, 1);
    font-size: 18px;
    margin-right: 20px;
    
}
.body1 li
{
    color: black;
}
#btn1
{
    background-color: rgba(253, 194, 33, 1);
    width: 120px;
    height: 50px;
   margin-top: 20px;
    color: white;
    font-size: 20px;
}


#pack
{
    text-align: center;
    margin-top: 40px;
}
#pack1
{
    color: black;
    text-align: center;
}
.packgrid
{
    display:grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 10px;
    width:50%;
    height:65vh;
  margin-left: 25%;
   margin-right: 425px;
  
}


.bodysection2 .child1
{
    background-color: rgba(252, 250, 237, 1);
    
    margin-top: 25px;
    height: 400px;
    border-top:3px solid rgba(41, 65, 153, 1);
   border-radius: 50px;
    
}
.bodysection2 .child2
{
    background-color: rgba(41, 65, 153, 1);
   
    margin-top: 10px;
    height:450px;
    border-top: 5px solid rgba(253, 194, 33, 1);;
    border-radius: 50px;
    
}
.bodysection2 .child3
{
    background-color: rgba(252, 250, 237, 1);
    margin-top: 25px;
    height: 400px;
    border-top:3px solid rgba(41, 65, 153, 1);
    border-radius: 50px;
   
}
#gp1
{
    font-family: cursive;
    color:rgba(41, 65, 153, 1);
    margin-left: 70px;
    font-weight: bold;
    margin-top: 5px;
    font-size: 20px;
    
    
}
.gp11
{
    color:rgba(38, 38, 38, 1);
    font-weight: bold;
    font-size: 23px;
    margin-top: 15px;
    margin-left: 80px;
    line-height: 10px;
}
#gp12
{
    color:rgba(38, 38, 38, 1);
    font-weight: bold;
    font-size: 23px;
  
   margin-left: 13px;
}
#gp13
{
    color:rgba(157, 157, 157, 1);
    text-align: center;
    margin-top: 25px;
    font-size: 18px;
}
.gp14
{
    color: rgba(106, 106, 106, 1);
    
    font-size: 12px;
    line-height: 25px;
    margin-top: 10px;
}
.gp14 li
{
    list-style-type: none;
}
.list3 li
{
    list-style-type: none;
}
.list4 li
{
    list-style-type: none;
}
.gp14 ul li:before{
    content: '✓';
    color: rgba(253, 194, 33, 1);
    font-weight: bolder;
    margin-left: 5px;
}
#btn15
{
   width:100px;
   height:30px;
   border:2px solid rgba(253, 194, 33, 1);
   background-color: rgba(252, 250, 237, 1);

   border-radius: 50px;
   margin-top: 120px;
   margin-left: 60px;
   color: rgba(253, 194, 33, 1);
}
#gp21
{
    color:white;
    text-align: center;
    margin-top: 10px;
}
#gp22
{
    color: rgba(253, 194, 33, 1);
    text-align: center;
    margin-top: 15px;
}
.gp23
{
    color:rgba(38, 38, 38, 1);
    font-weight: bold;
    font-size: 23px;
    margin-top: 15px;
    margin-left: 90px;
    line-height: 10px;
    color: rgba(253, 194, 33, 1);
}
#gp24
{
    color:rgba(38, 38, 38, 1);
    font-weight: bold;
    font-size: 23px;
    color:rgba(253, 194, 33, 1);
  
   margin-left: 13px;
}
#gp25
{
    color:black;
    text-align: center;
    margin-top: 25px;
    font-size: 18px;
}
.list3 ul li:before{
    content: '✓';
    color:rgba(253, 194, 33, 1);
    font-weight: bolder;
}
.list3{
    color:white;
    line-height: 25px;
    font-size: 13px;
    margin-left: 10px;
}
#btn16
{
   width:100px;
   height:30px;
   border:2px solid rgba(253, 194, 33, 1);
   background-color: rgba(253, 194, 33, 1);

   border-radius: 50px;
   margin-top: 50px;
   margin-left: 70px;
   color:white;
}
.list4 ul li:before{
    content: '✓';
    color: rgba(253, 194, 33, 1);
    font-weight: bolder;
}
.list4{
    color:black;
    line-height: 25px;
    font-size: 13px;
    margin-left: 10px;
}
#btn17
{
   width:100px;
   height:30px;
   border:2px solid rgba(253, 194, 33, 1);
   background-color: rgba(252, 250, 237, 1);

   border-radius: 50px;
   margin-top: 30px;
   margin-left: 60px;
   color: rgba(253, 194, 33, 1);
}

.bodysection3
{
    display:grid;
    grid-template-columns: 50% 40%;
    column-gap: 2px;
    margin-top: 70px;
    padding-top: 20px;
    width: 100%;
    /*background-image: url(images/background.svg);
    background-size: contain;
    
    
    background-repeat: no-repeat;*/
    
}
#p31
{
    color: rgba(253, 194, 33, 1);
    font-size: 25px;
    margin-left: 40px;
}
#p32
{
    color: black;
    font-size: 30px;
    margin-left: 40px;
    margin-top: 10px;
}
#p33
{
    /*margin-left: 40px;*/
    font-size: 20px;
    /* margin-top: 15px; */
}
.left1
{
    margin-left: 8px;
}
.left11
{
    margin-left: 0px;
}
.left11 p
{
    margin-left: 40px;
    line-height: 25px;
}

.left12
{
    margin-left: 40px;
}
.hii
{
    margin-top: 20px;
    color:rgba(253, 194, 33, 1);
}
.ok
{
    background-color:rgba(253, 194, 33, 1);
    width:200px;
    height:50px;
    color: white;
}
.euro
{
    margin-top: 20px;
    margin-left: 40px;
    color: darkgoldenrod;
}
.bodysection3 .right1
{
    margin-left: 15px;
}
.bodysection5 .content5
{
    text-align: center;
}
.bodysection5
{
    padding: 30px;
    margin-top: 20px;
    
    width: 100%;
    line-height: 40px;

}
.container2
{
    display: grid;
    grid-template-columns: 30% 30% 30%;
   justify-content: center;
    width: 100%;
    height: 35vh;
    
    
}
.container2 .child1
{
   line-height: 55px;
    padding: 20px;
    
}
.container2 .child2
{
    line-height: 55px;
    padding: 20px;
}
.container2 .child3
{
    line-height: 55px;
    padding: 20px;
}
.i1
{
    width:80px;
    height:80px;
    border-radius: 50px;
    background-color: rgba(253, 194, 33, 1);
    margin-top: 10px;
    margin-left: 160px;
    
}
.i11
{
    color: white;
    font-size: 40px;
    padding: 20px;
    
}
#of
{
    text-align: center;
}
#ofp
{
    text-align: center;
    line-height: 20px;
}
.bodysection6
{
    width: 100%;
   
    height: 110vh;
   
}
.bodysection6 .container6
{
    text-align: center;
    line-height: 40px;
}
.bodysection6 .container6 h2
{
    font-size: 20px;
}
.grid6
{
    display: grid;
    grid-template-rows: 50% 50%;
 
   justify-content: center;
    padding: 30px;
    width:100%;
    
}
.row1
{
   
    padding: 20px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 40px;
   justify-content: center;
    
}
.row2
{
   
    padding: 20px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 40px;
   justify-content: center;
}
.row11
{
   
    width:200px;
    height: 300px;
}
.row12
{
    
    width:200px;
    height: 300px;
}
.row13
{
   
    width:200px;
    height: 300px;
}
.grid6 img
{
    width:200px;
    height:300px;
    border-radius: 20px;
}
.bodysection7
{
	margin-top :10%;
   width:100%;
   
  
   
}
.section7{
    text-align: center;
   line-height: 40px;
   height: 150px;
   width: 100%;
  
  
}
.section7 h2{
    font-size: 20px;
}
.section7 p{
    font-size: 17px;
}
.para7
{
    height: 10vh;
    width:600px;
   
   line-height: 20px;
   margin-left: 30%;
  
}
.grid7
{
    height:50vh;
    width:80%;
 margin-left: 160px;
    padding: 40px;
    padding-top: 0;
    display: grid;
    grid-template-columns: 35% 35%;
    justify-content: center;
    column-gap: 20px;
}

.grid7 li
{
    list-style-type: none;
    line-height: 20px;
    padding: 5px;
  
}
.grid7 ul
{
    padding-top: 20px;
}
.bodysection8
{
    width:100%;
   height: 30vh;
   margin-top : 6%;
    
}
.section8{
    text-align: center;
    line-height: 40px;
}

.bodysection8 h2
{
    font-size: 20px;
}
.searchparent
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search
{
height:40px;
width:500px;
background-color: white;
border: 2px solid gray;
border-radius: 15px;
}
#btn8
{
    background-color:rgba(253, 194, 33, 1) ;
    height: 40px;
    width: 100px;
    color: white;
    float: right;
    border-radius: 15px;
  
}
#txt
{
    padding-left: 40px;
    padding-top: 10px;
    border: none;
    float: left;
    margin-left: 10px;
}
.bodysection9
{
    width: 100%;
    height: 50vh;
    background-color:rgba(38, 42, 78, 1);
   display: flex;
   justify-content: space-between;
   padding-right: 40px;
   padding: 0 40 20 20;
   
  
    
}
.grid9
{
    padding: 40px;
    margin-left: 40px;
    line-height: 40px;

}
.grid9 h1
{
    font-size: 30px;
}
.grid9 p
{
    color: white;
    font-size: 18px;
}
.grid9 .icons1
{
    height: 50px;
    width: 50px;
    margin-top: 30px;
    color: rgba(253, 194, 33, 1) ;
    border-radius: 50px;
    font-size: 50px;
    
}
.grid9 .icons2
{
    height: 50px;
    width: 50px;
    margin-top: 30px;
    border: 2px solid rgba(253, 194, 33, 1);
    border-radius: 50px;
    color:rgba(253, 194, 33, 1) ;
    text-align: center;
    font-size: 30px;
   
}
.ins
{
    margin-top: 10px;
}

.grid9 .icons3
{
    height: 50px;
    width: 50px;
    margin-top: 30px;
    border: 2px solid rgba(253, 194, 33, 1) ;
    border-radius: 50px;
    color:rgba(253, 194, 33, 1) ;
    font-size: 30px;
    text-align: center;
}
.icons
{
display: flex;
flex-direction: row;
gap:30px;
}
.list91
{
    padding: 40px;
    margin-left: 40px;
   
}
.list91 li
{
    list-style-type: none;
    color: white;
    line-height: 20px;
}
.un1
{
    border-bottom: 2px solid orange;
}